@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto";
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
}
.body {
  margin: 3% 5% 0 5%;
  width: 100%;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}
.link ul li {
  display: inline-block;
  margin-right: 20px;
}
.link ul li a {
  color: white;
  text-decoration: none;
}
.logo img {
  margin-top: -17px;
}
.sec {
  font-size: 25px;
  margin-top: 40px;
  font-weight: 800;
}
.name {
  margin: 10px 0 10px 0;
  letter-spacing: 0.3em;
}
h2 {
  font-size: 20px;
  font-weight: 200;
  font-family: tahoma;
  color: #00c0a6;
}
p {
  padding: 20px 0 20px 0;
}
p a {
  color: red;
}
article ul {
  width: 50%;
}

article li {
  display: inline-block;
  font-size: 40px;
  padding-right: 20px;
}
footer {
  text-align: center;
  font-size: 17px;
}
#tog {
  display: none;
  margin-top: 10px;
}
.e {
  width: 40%;
  height: 100px;
  border: 2px outset red;
  border-radius: 8px;
  margin: 20px;
  padding: 20px 0 0 0;
  text-align: center;
  color: white;
  font: 20px bold tahoma;
}
.e a {
  color: rgb(204, 58, 58);
  text-decoration: none;
}
.pmain {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
nav ul li a:hover {
  border-bottom: 1px solid red;
}
.one {
  width: 40%;
  height: 300px;
  border: 2px outset red;
  border-radius: 8px;
  margin: 20px;
  padding: 20px 0 0 0;
  text-align: center;
  color: white;
  font: 20px bold tahoma;
}
.one img {
  width: 50%;
  height: 50%;
  margin: 10px auto;
  display: block;
}
.one button {
  width: 50%;
  height: 30px;
  background-color: black;
  border: 1px solid red;
  outline: none;
  border-radius: 10px;
  margin-top: 10px;
}
.one a {
  color: white;
  list-style: none;
  text-decoration: none;
}
@media only screen and (max-width: 900px) {
  #tog {
    display: block;
    float: right;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .link ul li {
    display: block;
    padding-top: 30px;
  }
  .hide {
    display: none;
  }
  article ul {
    width: 100%;
    padding-bottom: 20px;
  }
  article li {
    display: inline-block;
    font-size: 40px;
  }
  .e {
    width: 100%;
  }
  .one {
    width: 100%;
  }
}
